ion-content{
    text-align: center;
}

ion-item{
    display: inline-block;
    text-align: center;
}

.list-align{
    text-align:center;
}

ion-list{
    width:fit-content;
    text-align:center;
}

.hoverStuff :hover{
    font-weight: bold;
    text-decoration: underline;
}