<ion-header>
  <ion-toolbar color = "crimson">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roster</ion-title>
  </ion-toolbar>
</ion-header>
<!--Extra toolbar so page can be reset as users scroll down-->
<ion-toolbar>
</ion-toolbar>

<ion-content>
    <h1>Lock Haven Football Roster</h1>
    <p>Here is the current LHU football roster, select a player to see 
      results of their recent accolades!
    </p>

  <div class = "list-align">
  <ion-list lines = "none" class = "hoverStuff">
    <ion-item>
      <ion-label>#3 - Marquon Williams (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#4 - Darryl Pollard (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#5 - Kasir Henry (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#8 - DeAndre Wakefield (RB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#10 - Chase Holmes (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#12 - Danny Sanchez (QB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#14 - Chris Hicks (TE)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#16 - Raymell Hester (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#17 - Matt Stanton (QB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#18 - Philip Arpano (QB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#19 - Cole Transue (QB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#20 - Erwin Sutton (RB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#21 - Isaiah Turner (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#23 - Davien Vernon (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#24 - Jaderian Johnson (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#26 - Delvon Beam (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#27 - Markel Morgan (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#28 - Charles Richardson (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#29 - Ashan Harris (RB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#30 - Anthony Day (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#31 - Jadarius Wright (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#35 - Water Davies-Wright (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#36 - Brett Zachman (K)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#37 - Victor Hunt (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#38 - Jaime Rodriguez-Vega (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#39 - David Martinez (RB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#40 - Kyler Cunningham (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#41 - Anu Okungbowa (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#41 - Jacob Sturm (RB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#42 - Rodney Acquah (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#43 - Abdullah Sargeant (DB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#44 - Justin Anderson (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#45 - Ethan Fike (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#46 - Tony Nicassio (K/P)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#49 - Ryan Flowers (LS)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#50 - Sean Petzold (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#52 - Trey Henley (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#53 - Lajear Whaley (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#55 - Bryan Helenski (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#56 - Justin Nketia (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#57 - Amari Macklin (LB)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#60 - Donovan Jones (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#63 - John Minnich (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#64 - Davin Roy (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#67 - Jaiman Holden (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#68 - Nate Cammack (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#70 - Dan Simpson (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#73 - Taylor Hartner (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#75 - Matt Fredrick (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#76 - Edward Leak (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#77 - Izaiah Scott (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#78 - Mohamed Coulibaly (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#79 - Joe Turek (OL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#80 - Isiah Allen (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#81 - Marquis Perry (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#82 - Kenneth Pettiford (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#83 - Kaden Bittinger (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#84 - John Tatum (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#86 - Infinite Campbell (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#88 - Ky'eem Williams (WR)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#89 - Evan Sylstra (TE)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#90 - Devante Embrey-Banks (DT)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#93 - Jelel Philips (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#94 - Isaiah Reed (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#96 - Matt Barna (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#97 - Blake Griesemer (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#98 - Shaheed Salim (DL)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>#99 - Alfred Manyeah (DT)</ion-label>
    </ion-item>
  </ion-list>
  </div>
</ion-content>