<ion-header>
  <ion-toolbar color = "crimson">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Lock Haven Football History</h1>
    <p>Lock Haven University has a long, rich history of football 
      tradition, dating back to the teams beginnings in 1900. Many
      of the early teams had great success over the years, with several
      Pennsylvania State Teachers College Football Championships along with
      helping establish the Pennsylvania State Athletic Conference (PSAC)
    </p>
    <ion-img src="https://s3.amazonaws.com/ogden_images/www.lockhaven.com/images/2019/04/04170623/LH-Football033-1100x712.jpg" alt="LHU 1940s Team"></ion-img>
    <sub>LHU Football Team in 1940</sub>
    <br><br><br>

    <h1>Current Team</h1>
    <p>Lock Haven's football team finished with a 1-10 record
      under headcoach John Kelling this previous season. New headcoach
      Dan Mulrooney has taken Kelling's place and will be leading the 
      Bald Eagles into the 2023-2024 season
    </p>
    <ion-img src = "http://s3.amazonaws.com/ogden_images/www.lockhaven.com/images/2018/09/10224847/LHUFOOTBALL-1100x619.jpg"></ion-img>
    <sub>LHU Football Team in 2022</sub>
    <br><br><br>

    <h1>LHU App Development Team</h1>
    <p>Our team was formed in the Spring 2023 Semester with the 
      goal in mind of developing this app for the broader LHU community
      interested in knowing more about the Lock Haven Football team! 
      Our group consists of Ryan Taylor, Harrison Moyer, and Blake Roberts
    </p>
  </ion-content>