<ion-header>
  <ion-toolbar color = "crimson">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scores From The 2022-2023 Season</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

  <ion-item>  
  @Post University
  W 35-34
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433022"> https://www.espn.com/college-football/game/_/gameId/401433022</a>
</ion-item>

<ion-item>
  vsMercyhurst
  L 49-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433023">https://www.espn.com/college-football/game/_/gameId/401433023</a>
</ion-item>

<ion-item>  
  vsClarion
  L 44-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401432998">https://www.espn.com/college-football/game/_/gameId/401432998</a>
</ion-item>

<ion-item>  
  @East Stroudsburg
  L 48-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433024">https://www.espn.com/college-football/game/_/gameId/401433024</a>
</ion-item>  

<ion-item> 
vsMillersville University
  L 42-12
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433025">https://www.espn.com/college-football/game/_/gameId/401433025</a>
</ion-item>  

<ion-item>  
@Shepherd
  L 72-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433026">https://www.espn.com/college-football/game/_/gameId/401433026</a>
</ion-item>

<ion-item>
  vsBloomsburg
  L 17-9
  <a href = "https://www.espn.com/college-football/game/_/gameId/401432982">https://www.espn.com/college-football/game/_/gameId/401432982</a>
</ion-item>

<ion-item>
  @Kutztown
  L 35-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433018">https://www.espn.com/college-football/game/_/gameId/401433018</a>
</ion-item>

<ion-item>
  @West Chester
  L 58-10
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433027">https://www.espn.com/college-football/game/_/gameId/401433027</a>
</ion-item>

<ion-item>
  vsShippensburg
  L 44-7
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433028">https://www.espn.com/college-football/game/_/gameId/401433028</a>
</ion-item>

  <ion-item>
  @Edinboro
  L 26-13
  <a href = "https://www.espn.com/college-football/game/_/gameId/401433029">https://www.espn.com/college-football/game/_/gameId/401433029</a>
</ion-item>
</ion-list>

</ion-content>
