/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

:root {
	--ion-color-crimson: #8A1538;
	--ion-color-crimson-rgb: 138,21,56;
	--ion-color-crimson-contrast: #ffffff;
	--ion-color-crimson-contrast-rgb: 255,255,255;
	--ion-color-crimson-shade: #791231;
	--ion-color-crimson-tint: #962c4c;
}

.ion-color-crimson {
	--ion-color-base: var(--ion-color-crimson);
	--ion-color-base-rgb: var(--ion-color-crimson-rgb);
	--ion-color-contrast: var(--ion-color-crimson-contrast);
	--ion-color-contrast-rgb: var(--ion-color-crimson-contrast-rgb);
	--ion-color-shade: var(--ion-color-crimson-shade);
	--ion-color-tint: var(--ion-color-crimson-tint);
}

ion-img{
    border: 3px solid crimson;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

h1{
	text-decoration: underline crimson;
}